@import '../../styles/variables';

.search-page-container {
  background: $primary-color;
  margin-top: 7rem;
  padding: 6rem 0 8rem;
  min-height: calc(100vh - 7rem);

  &__title {
    text-align: center;
    color: $primary-font-color;
    font-family: $tertiary-font;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    margin: 2rem 0 0;
    text-transform: uppercase;
    padding: 0 1rem;
  }

  &__underline {
    display: block;
    margin: 2rem auto 4rem;
    background-color: $secondary-color;
    width: 9rem;
    height: 0.2rem;
  }

  &__main {
    width: 90vw;
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    justify-content: center;
    justify-items: center;
  }
}

@media (max-width: 720px) {
  .search-page-container {
    &__main {
      width: 98vw;
    }
  }
}
