@import '../../styles/variables';

.pagination-container {
  width: 90vw;
  max-width: $max-width;
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;

  &__btn {
    color: $primary-font-color;
    border: none;
    outline: none;
    background-color: $secondary-color;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: $transition;
    letter-spacing: $letter-spacing;
    cursor: pointer;
  }

  &__text {
    font-weight: 300;
    color: $secondary-font-color;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
  }
}

@media (max-width: 600px) {
  .pagination-container {
    &__text {
      display: none;
    }
  }
}
