$primary-color: linear-gradient(
  165deg,
  rgba(37, 20, 49, 1) 0%,
  rgba(22, 17, 48, 1) 22%
);
$secondary-color: #eb4e7a;
$tertiary-color: #1c262b;

$primary-font-color: #fff;
$secondary-font-color: rgba(255, 255, 255, 0.9);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'Alegreya Sans', sans-serif;

$max-width: 1170px;

$transition: all 0.3s linear;
$border-radius: 10px;
$letter-spacing: 0.2rem;
