@import '../../styles/variables';

.single-item {
  &-main {
    background: $primary-color;
    padding: 8rem 0;

    hr {
      background-image: radial-gradient(
        circle,
        rgba(210, 208, 208, 0.19091386554621848) 0%,
        rgba(210, 208, 208, 0) 90%
      );
      border: none;
      height: 2px;
      margin: 2rem 0;
    }

    &__summary {
      color: $primary-font-color;
      max-width: $max-width;
      width: 90vw;
      margin: 0 auto;

      &-title {
        color: $primary-font-color;
        font-family: $tertiary-font;
        font-size: 2.3rem;
        font-weight: bold;
        letter-spacing: 0.4rem;
        margin: 2rem 0 0.3rem 0;
        text-transform: uppercase;
      }

      p {
        margin: 2rem 0;
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }

    &__reviews {
      max-width: $max-width;
      width: 90vw;
      margin: 0 auto;

      &-container {
        margin: 2rem 0;
      }

      &-review {
        background-color: #030b14;
        color: $primary-font-color;
        padding: 2rem 2rem;
        border-radius: $border-radius;
        margin: 1rem;

        h2 {
          margin-bottom: 2rem;
          text-transform: uppercase;
          font-size: 2rem;
        }
        p {
          color: #999;
          font-size: 1.6rem;
          line-height: 1.4;
          margin-bottom: 2rem;
        }
        a {
          text-decoration: none;
          color: #777;
          font-size: 1.4rem;
          transition: all 0.6s linear;
        }
        a:hover svg {
          margin-left: 1rem;
        }
      }
    }
  }
}
