@import '../../styles/variables';

.discover-page-container {
  margin-top: 7rem;
  background: $quaternary-color;
  min-height: calc(100vh - 7rem);
  padding: 6rem 0 8rem;

  &__title {
    text-align: center;
    color: $primary-font-color;
    font-family: $tertiary-font;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    margin: 2rem 0 0;
    text-transform: uppercase;
  }

  &__underline {
    display: block;
    margin: 2rem auto 4rem;
    background-color: $secondary-color;
    width: 9rem;
    height: 0.2rem;
  }

  &__main {
    width: 90vw;
    max-width: $max-width;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    justify-content: center;
    justify-items: center;
  }
}
