@import '../../styles/variables';

.carousel-container {
  width: 90vw;
  max-width: $max-width;
  margin: 0 auto;

  &__separator {
    background-image: radial-gradient(
      circle,
      rgba(210, 208, 208, 0.19091386554621848) 0%,
      rgba(210, 208, 208, 0) 90%
    );
    border: none;
    height: 2px;
    margin: 2rem 0;
  }

  .swiper-container {
    font-family: $secondary-font;
    height: 340px;
    width: 100%;

    &__title {
      color: $primary-font-color;
      font-family: $tertiary-font;
      font-size: 2.3rem;
      font-weight: bold;
      letter-spacing: 0.4rem;
      margin: 2rem 0 0;
      text-transform: uppercase;
    }

    .swiper-slide {
      margin-top: 4rem;
      display: block;
      padding-left: 2rem;
    }
  }
}
