@import '../../styles/variables';

.footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  justify-content: center;
  background-color: #030b14;
  text-align: center;

  &-center {
    padding: 2rem auto;
    margin: 0 auto;
    width: 90vw;
    max-width: $max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $tertiary-font;

    &__main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 6rem;
      &-links {
        display: flex;
        margin: 1rem 0 3rem;

        h1 {
          color: $primary-font-color;
          font-family: $tertiary-font;
          font-size: 2.3rem;
          font-weight: bold;
          letter-spacing: 0.4rem;
          margin: 0 2rem 2rem 0;
          text-transform: uppercase;

          svg {
            margin-right: 1rem;
          }
        }

        a {
          color: $secondary-font-color;
          padding-top: 0.5rem;
          text-decoration: none;
          margin: 0 2rem 2rem 0;
          font-size: 2rem;

          transition: $transition;

          &:hover {
            color: #999;
          }
        }
      }

      &-text {
        color: $secondary-font-color;
        font-size: 1.7rem;

        span {
          text-transform: capitalize;
          font-size: 2rem;
          margin-right: 3rem;
        }

        a {
          text-decoration: none;
          color: $secondary-font-color;
          transition: $transition;

          &:hover {
            color: #999;
          }
        }
      }
    }

    &__tmdb {
      display: flex;
      justify-content: space-around;
      img {
        height: 16rem;
        width: 20rem;
        justify-self: flex-start;
        margin-bottom: 3rem;
        margin-right: 5rem;
      }

      &-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 16rem;

        a {
          width: 3rem;
          height: 3rem;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          margin-bottom: 1.4rem;

          svg {
            fill: $primary-font-color;
            width: 100%;
            height: 100%;
            transition: $transition;

            &:hover {
              fill: #999;
            }
          }
        }
      }
    }
  }

  h2 {
    color: $primary-font-color;
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .footer {
    &-center {
      flex-direction: column;
      justify-content: start;
      text-align: left;
      margin: 0;

      &__main {
        &-links {
          flex-direction: column;
        }
      }
    }
  }
}
