@import '../../styles/variables';

.share-bar {
  display: grid;
  grid-template-columns: 4rem;
  grid-template-rows: repeat(3rem, 4);
  position: absolute;
  right: 1.5rem;
  top: 14rem;
  row-gap: 1.4rem;

  &__link {
    height: 3rem;
    width: 3rem;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  .twitter {
    color: #1da1f2;
  }
  .facebook {
    color: #1877f2;
  }
  .google {
    color: #db4a39;
  }
  .reddit {
    color: #ff5700;
  }
}
